<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ url_for('static', filename='kemenag-icon.png') }}">

  <meta name="description" content="">
  <meta name="keywords" content="bootstrap, bootstrap4">

  <!-- ✅ Fix typo: Google Fonts family name -->
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <!-- ✅ Ganti semua path CSS ke Flask static -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>Pendma Surabaya</title>
</head>

<body>

  <!-- ✅ Mobile menu -->
  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <!-- ✅ Navigation -->
  <nav class="site-nav mb-5">
    <div class="sticky-nav js-sticky-header">
      <div class="container position-relative">
        <div class="site-navigation text-center">
          <a href="/" class="logo menu-absolute m-0 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename='kemenag-icon.png') }}" style="height: 40px; width: auto; margin-right: 10px;">
            <div class="d-flex flex-column align-items-start" style="line-height: 1.1;">
              <span>Seksi Pendidikan Madrasah</span>
              <span>KanKemenag Kota Surabaya</span>
            </div>
          </a>

          <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
            <li><a href="/">Beranda</a></li>
            <li><a href="/information">Layanan</a></li>
            <li class="has-children">
              <a href="#">Profile</a>
              <ul class="dropdown">
                <li><a href="#">Elements</a></li>
                <li><a href="#">Menu Three</a></li>
              </ul>
            </li>
            <!-- <li><a href="/news">News</a></li> -->
            <li class="has-children">
              <a href="#">Pengaduan</a>
              <ul class="dropdown">
                <li><a href="/contact">Ajukan Pengaduan</a></li>
                <li class="active"><a href="/contact-check">Cek Pengaduan</a></li>
                <li><a href="https://jatim.kemenag.go.id/pengaduan" target="_blank" rel="noopener noreferrer">DUMAS JATIM</a></li>
              </ul>
            </li>
            <li class="has-children">
              <a href="#">Lainnya</a>
              <ul class="dropdown">
                <li><a href="https://ptspjatim.kemenag.go.id/" target="_blank" rel="noopener noreferrer">PTSP Kemenag Jatim</a></li>
              </ul>
            </li>
            <li><a href="/about">Tentang Kami</a></li>
          </ul>

          <!-- <a href="/login" class="btn-book btn btn-secondary btn-sm menu-absolute">Admin</a> -->

          <!-- Ganti bagian tombol di dalam nav -->
          <!-- <div class="auth-buttons menu-absolute">
            <a href="/login" class="btn btn-primary btn-sm mr-2">Login</a>
            <a href="/register" class="btn btn-primary btn-sm">Register</a>
          </div> -->


          <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a>
        </div>
      </div>
    </div>
  </nav>


  <div class="untree_co-hero overlay">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 text-center"  data-aos="fade-up" data-aos-delay="200">
                {% if page_type == "view" %}
                  {% if respons %}
                    <div class="alert alert-{{ alert_type }}" role="alert" 
                        style="border-radius: 6px; padding: 10px 15px; margin-bottom: 20px;">
                      {{ respons }}
                    </div>
                  {% endif %}
                <form action="" method="POST" class="p-4 rounded-4 shadow-lg" style="background: rgba(255, 255, 255, 0.15); backdrop-filter: blur(6px);">                
                    <p class="text-white mb-4 heading">Cek Pengaduan</P>
                    <div class="mb-3">
                        <input type="text" name="ticket-code" class="form-control text-white" placeholder="Kode Tiket Pengaduan" required 
                            style="background-color: rgba(255,255,255,0.25); border: none; border-radius: 8px; padding: 12px 16px;">
                    </div>
                    <div class="col-12">
                        <input type="submit" value="Cek Pengaduan" class="btn btn-primary">
                    </div>
                </form>
                {% elif page_type == "ticket" %}
                <p class="mb-4 text-white" data-aos="fade-up" data-aos-delay="200">
                  Kode tiket pengaduan
                </p>
                <div class="mb-4" data-aos="fade-up" data-aos-delay="250">
                  <span 
                  style="
                      display: inline-block;
                      color: white;
                      border-radius: 8px;
                      font-size: 2rem;
                      font-weight: 600;
                      letter-spacing: 1px;
                    ">
                    {{ ticket_code }}
                  </span>
                  {% if respons.get("Status") == "Proses" %}
                  <p class="mb-4 text-white" data-aos="fade-up" data-aos-delay="200">
                    Status Pengaduan Anda sedang Diproses
                  </p>
                  {% elif respons.get("Status") == "Selesai" %}
                  <p class="mb-4 text-white" data-aos="fade-up" data-aos-delay="200">
                    Status Pengaduan Anda Selesai Diproses
                  </p>
                  {% else %}
                  <p class="mb-4 text-white" data-aos="fade-up" data-aos-delay="200">
                    Ada kesalahan pada status pengaduan, hubungi pihak terkait!!!
                  </p>
                  {% endif %}
                </div>
                <div class="card border-dark text-left mb-3" data-aos="fade-up" data-aos-delay="200">
                  <div class="card-header">Pengaduan</div>
                  <div class="card-body text-dark">
                    <p class="card-text">
                      Pengaduan dengan judul {{ respons.get("Judul") }} yang berisi {{ respons.get("Isi") }} 
                      diajukan pada tanggal {{ respons.get("Tanggal") }} pukul {{ respons.get("Pukul") }} 
                      oleh {{ respons.get("Nama") }} dengan nomor WhatsApp {{ respons.get("WhatsApp") }}
                    </p>
                    {% if respons.get("Respon") %}
                    <p class="card-text">
                      Respon kami : {{ respons.get("Respon") }}
                    </p>
                    {% endif %}
                  </div>
                </div>
                <p class="mb-0" data-aos="fade-up" data-aos-delay="300"><a href="/" class="btn btn-secondary">Beranda</a></p>
                {% else %}
                <p class="mb-4 text-white" data-aos="fade-up" data-aos-delay="200">
                  Halaman tidak ditemukan
                </p>
                {% endif %}
            </div>
        </div>
    </div>
  </div>


  <!-- Footer -->
  <div class="site-footer">
    <div class="container">
      <div class="row">
        
        <div class="col-6 mr-auto">
          <div class="widget">
            <h3>Tentang Kami</h3>
            <p>Meningkatkan Kualitas Pelayanan Publik. Mencegah Korupsi, Kolusi, dan Nepotisme. Menciptakan Sumber Daya Manusia yang Berintegritas.</p>
          </div>
          <div class="widget">
            <h3>Media Sosial</h3>
            <ul class="list-unstyled social">
              <li><a href="#"><span class="icon-instagram"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-pinterest"></span></a></li>
              <li><a href="#"><span class="icon-dribbble"></span></a></li>
            </ul>
          </div>
        </div>

        <div class="col-6">
          <div class="widget">
            <h3>Narahubung Kantor Kementerian Agama Kota Surabaya</h3>
            <a href="https://maps.app.goo.gl/vdwPSmHhrCqkkDV17">
              <address>Jl. Masjid Al-AkbarTimur No.4, Gayungan, Kec. Gayungan, Surabaya, Jawa Timur 60234</address>
            </a>
            <ul class="list-unstyled mb-4">
              <li><p>Telp. (031) 8285319</p></li>
              <li></p>Jam Operasional Senin - Jumat, 07.30 - 16.00</p></li>
            </ul>
          </div>
        </div>

      </div>

      <div class="row mt-5">
        <div class="col-12 text-center">
          <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>.
            All Rights Reserved. — Developed by 
            <a href=" https://github.com/adherwp" class="text-warning" target="_blank" rel="noopener noreferrer">our staff</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- JS Files -->
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.animateNumber.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
</html>
